.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

div#mrpp-ui-container, div#alerts-container, div#minter-container {
    text-align: center;
}

div#mrpp-alerts-wrapper>p.mrpp-alert {
    padding: 15px;
}

p.mrpp-alert.mrpp-alert--info {
    color: rgb(0, 148, 172);
    background-color: rgb(218, 246, 250, 1);
}

p.mrpp-alert.mrpp-alert--error {
    color: rgb(198, 3, 22);
    background-color: rgb(252, 223, 226, 1);
}

p.mrpp-alert.mrpp-alert--success {
    color: rgb(8, 153, 40);
    background-color: rgb(223, 255, 230, 1);
}

div.mrpp-section {
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 1.3em;
}

div.mrpp-section>.mrpp-small {
    font-size: .65em;
    text-align: center;
}

label.mrpp-mintform__label {
    display: block;
}

select.mrpp-mintform__quantity {
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: .375rem .75rem;
    text-align: center;
    width: 75%;
}

button.mrpp-mintform__button {
    background-color: rgb(30, 184, 150);
    border: 1px solid transparent;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin: 10px auto;
    padding: 5px 20px;
    transition: top .2s ease-in-out;
}

button.mrpp-mintform__button:disabled {
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 75%;
    cursor: not-allowed;
    color: black;
    background-color: darkgrey;
}

button.mrpp-mintform__button:not(:disabled):hover, button.mrpp-mintform__button:not(:disabled):focus {
    margin-top: 8px;
    margin-bottom: 12px;
    background: rgb(241, 176, 100);
    color: black;
    cursor: pointer;
}

@media screen and (min-width: 576) {
    div.mrpp-section {
        margin: 20px auto;
    }
}

div.mrpp-table-container {
    overflow: auto;
    height: 450px;
}
